# Python / Poetry
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

.venv/
.env
venv/
env/

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local results
results_pages/
*.docx
merged.md

# Logs / misc
*.log

