name: Windows CI

on:
  push:
    branches:
      - main
      - develop
      - feature/**
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --no-root

      - name: Static verification
        run: poetry run python -m compileall ocr_per_page.py ocr_chanked.py export_docx.py poppler/merged_md.py
